<div id="box">
  <h1>Sakura Sushi Menu</h1>

  <!-- <div *ngFor="let x of fullmenu">
      <h2>{{ x.ItemName }}</h2>
      <p>Category: {{ x.Category }} Price: {{ x.Price }}</p>
    </div> -->
  <table>
    <tr>
      <th>Regular Rolls</th>
    </tr>
    <tr *ngFor="let s of getByCategory('Regular Rolls')">
      <td>{{ s.ItemName }}</td>
      <td>Price:&emsp;${{ s.Price.toFixed(2) }}</td>
    </tr>
    <tr>
      <th>Vegetable Rolls</th>
    </tr>
    <tr *ngFor="let s of getByCategory('Vegetable Rolls')">
      <td>{{ s.ItemName }}</td>
      <td>Price:&emsp;${{ s.Price.toFixed(2) }}</td>
    </tr>
    <tr>
      <th>Tempura Rolls</th>
    </tr>
    <tr *ngFor="let s of getByCategory('Tempura Rolls')">
      <td>{{ s.ItemName }}</td>
      <td>Price:&emsp;${{ s.Price.toFixed(2) }}</td>
    </tr>
    <tr>
      <th>Special Rolls</th>
    </tr>
    <tr *ngFor="let s of getByCategory('Special Rolls')">
      <td>{{ s.ItemName }}</td>
      <td>Price:&emsp;${{ s.Price.toFixed(2) }}</td>
    </tr>
  </table>

  <!-- <h2>Regular Rolls</h2>
  <p *ngFor="let s of getByCategory('Regular Rolls')">
    {{ s.ItemName }} Price: ${{ s.Price.toFixed(2) }}
  </p>

  <h2>Vegetable Rolls</h2>
  <p *ngFor="let s of getByCategory('Vegetable Rolls')">
    {{ s.ItemName }} Price: ${{ s.Price.toFixed(2) }}
  </p>

  <h2>Tempura Rolls</h2>
  <p *ngFor="let s of getByCategory('Tempura Rolls')">
    {{ s.ItemName }} Price: ${{ s.Price.toFixed(2) }}
  </p>

  <h2>Special Rolls</h2>
  <p *ngFor="let s of getByCategory('Special Rolls')">
    {{ s.ItemName }} Price: ${{ s.Price.toFixed(2) }}
  </p> -->
  <div id="box2"></div>
</div>
